body{
  background: black;
  color: white;
  font-family: 'Bebas Neue';
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.all-content-container {
  max-width: 90%;
}

.navbar {
  background: red;
  color: black;
  font-size: 16pt;
}

.navbar-brand{
  font-size: 20pt;
}

.row-title {
  margin-bottom: 0;
  font-size: 2rem;
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0);
  
  z-index:1;
  padding:10%;
}
.netflix-card{
  background: black;
}

.netflix-card > .card-image {
  transform: scale(1);
  transition: all .5s ease;
  -webkit-transition: all .5s ease; 
  -moz-transition: all .5s ease; 
  -o-transition: all .5s ease; 
  -ms-transition: all .5s ease; 
}

.netflix-card:hover > .card-image {
  transform: scale(1.17);
  transition: all .5s ease;
  -webkit-transition: all .5s ease; 
  -moz-transition: all .5s ease; 
  -o-transition: all .5s ease; 
  -ms-transition: all .5s ease; 
}



.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0,0,0,0);
  border-radius: calc(.25rem - 1px);
}

.netflix-card:hover > .card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0,0,0,.75);
  border-radius: calc(.25rem - 1px);
}

.card-img-overlay:hover * {
  opacity: 1;
  transition: all .5s ease;
  -webkit-transition: all .5s ease; 
  -moz-transition: all .5s ease; 
  -o-transition: all .5s ease; 
  -ms-transition: all .5s ease; 
}

.card-title{
  opacity: 0;
  color: white;
  font-size: 20pt;
  transition: all .5s ease;
  -webkit-transition: all .5s ease; 
  -moz-transition: all .5s ease; 
  -o-transition: all .5s ease; 
  -ms-transition: all .5s ease; 
}

.card-text {
  padding:5%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12pt;
  line-height: 20px;
  color: white;
  opacity: 0;
}

.card-button{
  margin-left: 37%;
  opacity: 0;
  font-size: 16pt;
  background: red;
  transition: all .5s ease;
  -webkit-transition: all .5s ease; 
  -moz-transition: all .5s ease; 
  -o-transition: all .5s ease; 
  -ms-transition: all .5s ease; 
}

.genre-display-row{
  padding-top: 150px;
}

.genre-col{
  padding-bottom: 10px;
}

.genre-card{
  transform: scale(1.5);
  font-size: 10pt;
  z-index: 2;
}

.carousel-arrow--right {
  right: calc(-0.2% + 1px);
}

.carousel-arrow--left {
  left: calc(-.2% + 1px);
}

.carousel-arrow {
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 10px;
  z-index: 1000;
  border: 5px;
  background: rgba(160, 160, 160, 0.5);
  min-width: 30px;
  min-height: 250px;
  opacity: 1;
  cursor: pointer;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

@keyframes imageZoom {
  from {transform: scale(1)}
  to {transform: scale(1.17)}
}

@keyframes imageZoomOut {
  from {transform: scale(1.17)}
  to {transform: scale(1)}
}
